.casilla {
    padding-left: 15px;
    padding-right: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-bottom: 10px;
}

h1 {
    background-color: black;
    color: blanchedalmond;
}

h2 {
    background-color: rebeccapurple;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif ;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    
}

h3 {
    background-color: skyblue;
    color: blueviolet;
    text-align: right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif ;
    text-decoration: underline;
    font-size: 20px;
}

/**

h1 {
    background-color: black;
    color: whitesmoke;
    padding: 1px 15px;
}

span {
    background-color: black;
    color: pink;
    padding: 1px 15px;
}
*/